* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #1E6986;
    width: 100%;
    margin: 0;
}

.topNav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.topNav > a {
    width: 33.333vw;
    background-color: #43B1B9;
    border: solid 2px black;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 10vh;
    padding-top: 3vh;
}

.bigSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    margin: 3vw;
    height: auto;
    padding: 2vw;
    width: 75vw;
    font-family: 'Open Sans', sans-serif;
    
}

.halfSection {
    width: 35vw;
    margin: 5vw;
}

footer >.fullsection{
    background-color: #D9D9D9;
    padding: 2vh;
}

.BigSection > .InfoLink {
    background-image: url("infoimage.png");
}

.Headspacing {
    display: flex;
    width: 100%;
    justify-content: center;
}

h2 {
    background-color: #5579F6;
    font-family:  'IBM Plex Sans', sans-serif;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 50vw;
}

.fullsection {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.gridspacer {
    display: flex;

    width: 75vw;

}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.hero {
    height: 75vh;
    width: 100%;
    text-align: center;
    padding:25vh;
    display:flex;
    justify-content: center;
}

.infohead {
    background-image: url(/images/infoimage.png);
    background-repeat:no-repeat;
    background-size: cover;
}

.indeximage {
    background-image: url(/images/DALL·E\ 2022-11-30\ 14.34.25\ -\ a\ fishing\ rod\ with\ a\ computer\ hanging\ from\ the\ hook\,\ dogital.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    width:100%;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.rightAlign {
    text-align: end;
}

.textDecorationNone {
    text-decoration: none;
}

.active {
    -webkit-text-stroke: 1px black;
}

.gridimg {
width: 35vw;
height: 50vh;
}

.gridtext {
    width: 35vw;
    height: 50vh;
}

.index-text {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: #5579F6;
    font-family:  'IBM Plex Sans', sans-serif;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 20vw;
    height:4rem;
}

a:link {
    text-decoration: none;
    color:black;
}

.halfSection ul {
    list-style: none;
}

a:visited {
    color:black;
}

