* {
    box-sizing: border-box;
}

body {
    background-color: #1E6986;
    width: 100%;
}

.topNav {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.topNav > a {
    width: 33.333vw;
    background-color: #43B1B9;
    border: solid 2px black;
    text-align: center;
    text-decoration: none;
    color: black;
}

.bigSection {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin: 3vw;
    height: auto;
    padding: 2vw;
    width: 75vw;
    font-family: 'Open Sans', sans-serif;

}

.halfSection {
    width: 35vw;
    margin: 5vw;

}

footer >.bigSection{
    background-color: #D9D9D9;
}

.BigSection > .InfoLink {
    background-image: url("infoimage.png");
}

h2 {
    background-color: #5579F6;
}